################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/secret-mgmt/secret-mgmt-sample/.vs/secret-mgmt-sample
/secret-mgmt/secret-mgmt-sample/azure-key-vault-demo/bin/Debug/net9.0
/secret-mgmt/secret-mgmt-sample/azure-key-vault-demo/obj
/secret-mgmt/secret-mgmt-sample/secret-mgmt-sample/bin/Debug/net9.0
/secret-mgmt/secret-mgmt-sample/secret-mgmt-sample/obj
/secret-mgmt/secret-mgmt-sample/.vs
/no-sql-databases/no-sql-database-sample/.vs/no-sql-database-sample
/no-sql-databases/no-sql-database-sample/mongo-db-demo/bin/Debug/net9.0
/no-sql-databases/no-sql-database-sample/mongo-db-demo/obj
/no-sql-databases/no-sql-database-sample/azure-cosmos-db-demo/bin/Debug/net9.0
/no-sql-databases/no-sql-database-sample/azure-cosmos-db-demo/obj
/no-sql-databases/no-sql-database-sample/.vs/CopilotSnapshots/85F2929106C17746AB2D008225442EE7
/no-sql-databases/.vs
