################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/secret-mgmt/secret-mgmt-sample/.vs/secret-mgmt-sample
/secret-mgmt/secret-mgmt-sample/azure-key-vault-demo/bin/Debug/net9.0
/secret-mgmt/secret-mgmt-sample/azure-key-vault-demo/obj
/secret-mgmt/secret-mgmt-sample/secret-mgmt-sample/bin/Debug/net9.0
/secret-mgmt/secret-mgmt-sample/secret-mgmt-sample/obj
/secret-mgmt/secret-mgmt-sample/.vs
